.cs-mobile-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%; /* Fill the entire width */
  margin: 0;
  height: calc(100vh - 80px); /* 80px for top navbar */
  padding: 0; /* Remove padding to eliminate empty space */
}

@media (max-width: 768px) {
  .cs-mobile-view {
    height: calc(100vh - 60px);
  }
}
